.btn-flat {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    color: black;
  }

  .btn-xxl {
    padding: .75rem .75rem;
    font-size: 1rem;
    min-width: 100px;
  }

  .link-style {
      color: black;
  }

  .nav-right{
    display: absolute;
    align-items: center;  

}